/* styles/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  padding-top: 64px; /* Sesuaikan dengan tinggi header */
}

#root {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
}
